.contenido{
    display: grid;
    grid-template-columns: 25% 70%;
}
.contenido_tabla{
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 20px;
}
.contenido_tabla_head_colum{
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    padding: 0.3em;
    font-size: 1.5rem;
}
.contenido_tabla_head{
    background-color: green;
    color: white;
}
.contenido_tabla_head_colum_el{
    text-decoration: none;
    color: red;
    font-size: 1.5rem;
}
.contenedor__funcion{
    border: 1px solid black;
    margin: 5rem;
}
.titulo__funcion{
    font-size: 3rem;
    margin: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.form__funcion{
    width: 100%;
    height: auto;
    text-align: center;
}
.form__funcion__input{
    width: 80%;
    height: 20%;
    
}